*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%; 
}

body{
    box-sizing: border-box;
    background-image: url("./images/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    font-family: 'Barlow', sans-serif;
    /* position: relative; */
}

fonts{
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
}

/* Global styles */

.page-title-div{
    width: 95%;
    margin: 2rem auto 1rem auto; 
    text-align: center;
}

.page-title{
    color: #ffffff;
    font-size: 1.3rem; 
    letter-spacing: 3px;
    line-height: 2rem; /*to help breakword*/
    overflow-wrap: break-word; 
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.page-title-number{
    color: #a2a3a8;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

/* Image-slider */
.crew-image_container{
    margin-top: 3rem;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgb(162, 163, 168, 0.5);
}

.crew-img1{
    width: 22rem;
    height: 25rem;
}

.crew-btns_container{
    width: 80%;
    margin: 3rem auto 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #a2a3a8;
}

.btn:hover{
    background-color: #ffffff;
}

.crew-text_container{
    text-align: center;
    padding: 2rem;
}

.crew-title{
    color: #a2a3a8;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.crew-name{
    font-size: 2.3rem;
    color: #ffffff;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
}

.crew-text{
    color: #bdc2db;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.active-crew{
    background-color: #ffffff;
}

@media screen and (min-width: 390px){
    .crew-img1{
        width: 25rem;
        height: 35rem;
    }

    .crew-title{
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 768px){
    body{
        background-image: url("./images/crew/background-crew-tablet.jpg");
    }

    main{
        min-height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .crew-section{
        padding: 2rem;
    }

    .page-title-div{
        text-align: left;
        margin-top: 3rem;
    }
        
    .page-title-number{
        font-size: 2rem; 
    }

    .page-title{
        font-size: 2rem;
        font-weight: 600; 
    }

    /* .crew-slider_container, */
    .crew-contents{
        display: flex;
        flex-direction: column-reverse;
    }

    .crew-image_container{
        height: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    .crew-img1{
        width: 50rem;
        height: 55rem;
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
    }

    .crew-title{
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    .crew-name{
        font-size: 4rem;
    }

    .crew-text{
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: url("./images/crew/background-crew-desktop.jpg");
    }

    .page-title-div{
        margin-top: 7rem;
    }

    .crew-section{
        padding: 0 5rem 0 15rem;
    }

    .crew-slider_container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 2rem;
    }

    .crew-image_container,
    .crew-contents{
        flex-basis: 47%;
    }

    .crew-img1{
        width: 40rem;
        height: 55rem;
    }

    .crew-btns_container{
        width: 100%;
        margin: 3rem 0 0 0;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .crew-text_container{
        text-align: left;
    }

    .crew-title{
        margin-top: 12rem;
    }

    .crew-name{
        margin: 1.5rem 0 2.5rem 0;
    }

    .crew-text{
        width: 80%;
        text-align: left;
        margin: 0;
    }
        
}

