*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%; 
}

body{
    box-sizing: border-box;
    background-image: url("./images/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* padding: 1rem; */
    font-family: 'Barlow', sans-serif;
    position: relative;
}

fonts{
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
}


/**********Header-items**********/
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    height: 4rem;
}

.hamburger-open,
.hamburger-close{
    width: 2.4rem;
    height: 2.1rem;
    background-size: 2.4rem 2.1rem;
    text-indent: -9999px;
}

.hamburger-open{
    background: url("./images/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    display: block;
} 

.hamburger-close{
    background: url("./images/shared/icon-close.svg");
    background-repeat: no-repeat;
    display: block; /*use javascript to toggle*/
    position: absolute;
    right: 0;
    margin: 2rem;
}

/* for harmburger-svg Hover */
.hamburger-open:hover,
.hamburger-close:hover{
    transition: all 0.3s linear;
    filter: brightness(0) invert(1);
}

.nav-toggle {
    transition: all .3s linear;
    cursor: pointer;
}

/********menu section********/
nav {
    width: 65%;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    background-color: rgba(51, 55, 70, .92);
    z-index: 1;
}

/* for JavaScript */
.show-nav{
    height: 100%;  
}

.menu {
    padding-left: 3rem;
    margin-top: 8rem;
}

.menu li{
    margin-top: 2rem;
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.6rem;
    display: block;
    padding: 1rem .2rem; 
    letter-spacing: .3rem;
    position: relative;
}

.menu-link:hover {
    transition: all .3s ease-in; 
}

.menu-link:hover::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

/* *****Content-section***** */
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.section1,
.section2{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.page-title-div{
    width: 95%;
    margin: 2rem auto 1rem auto;
    text-align: center;
}

.page-title{
    color: #ffffff;
    font-size: 1rem; 
    letter-spacing: 3px;
    line-height: 4.75px;
    overflow-wrap: break-word; 
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.page-title-number{
    color: #a2a3a8;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

.titan-img{
    width: 16rem;
    height: 16rem;
    margin: 2rem 0 1rem 0;
}

.planet-menu{
    margin: 1rem 0 2.8rem 0;
}

.planet-menu a{
    color: #a2a3a8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .7rem 0;
    position: relative;
}

.planet-menu > a:not(:last-child){
    margin: 0 2rem 0 0;
}

.planet-menu a:hover {
    color: #ffffff;
}

.planet-menu a:hover::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.title-titan{
    font-size: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
}

.titan-text{
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

.titan-text p{
    color: #a2a3a8;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.horizontal-line{
    width: 100%; 
    height: .28rem; 
    margin: 2.2rem 0; 
    background-color: rgb(162, 163, 168, .1);
    border-radius: 30%; 
}

.measure-row1,
.measure-row2{
    text-align: center;
}

.title-distance{
    letter-spacing: 2px;
    font-size: 1.1rem;
    color: #a2a3a8;
    font-weight: 200;
    text-transform: uppercase;
}

.title-km{
    font-weight: 200;
    margin: 1.5rem 0; 
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.title-travel{
    font-weight: 200;
    font-size: 1.1rem;
    letter-spacing: 2px; 
    color: #a2a3a8;
    text-transform: uppercase;
}

.travel-time{
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1.5rem; 
    color: #ffffff; 
    text-transform: uppercase;
}

@media screen and (min-width: 390px){
    .menu-link{
        font-size: 1.6rem;
    }

    .page-title-number,
    .page-title{
        font-size: 1.3rem;
    }
 
    .titan-img{
        width: 20rem;
        height: 20rem;
        margin: 2rem 0 3rem 0;
    }
    
    .planet-menu{   
        margin: 1rem 0 4rem 0;
    }

    .planet-menu a{
        font-size: 1.5rem;
    }

    .title-titan{
        font-size: 5rem;
    }

    .titan-text p{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .title-distance{
        font-size: 1.5rem;
    }

    .title-km{
        margin: 2.3rem 0; 
        font-size: 3rem;
    }

    .title-travel{
        font-size: 1.5rem;
    }

    .travel-time{
        font-size: 3rem;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 540px){
    .titan-img{
        margin-bottom: 1rem;
    }

    .planet-menu{   
        margin: .5rem 0 2rem 0;
    }

    .title-titan{
        margin-bottom: .5rem;
    }

    .horizontal-line{
        margin: 1.5rem 0;
    }

    .title-km{
        margin: 1.5rem 0;
    }

    .travel-time{
        margin: 1.5rem 0 .5rem 0;
    }
}

@media screen and (min-width: 768px){
    body{
        background-image: url("./images/destination/background-destination-tablet.jpg");
        min-height: 100vh;
    }

    /*header*/
    header{
        width: 100%; 
        height: 5rem;
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .header-items{
        padding: 5rem 0 0 3rem;
    }

    /*nav*/
    .hamburger-open,
    .hamburger-close{
        display: none; 
    }

    .menu-numbers{
        display: none;
    }

    nav{
        width: 65%; 
        height: auto; 
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        justify-content: center; 
        padding: 0;
        transition: none;
        overflow: none;
        background-color: rgba(33, 36, 48, 0.92);
    }

    .menu {
        width: 100%; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 0 1.5rem 0 1.5rem;
        margin: 0;
    }

    .menu li{
        margin-top: 0;
    }

    .menu-link {
        padding: 4.5rem 0;
        line-height: 0;
        border-bottom: 4px solid transparent;
    }

    .menu-link:hover {
        transition: none; 
        border-bottom: 4px solid #ffffff;
    }

    .menu-link:hover::after{
        display: none;
    }

    /* contents */
    .contents{
        margin-top: 8rem;
    }

    .section2{
        display: grid;
        place-items: center;
    }

    .page-title-div{
        width: 100%;
        margin: 2rem 0 5rem 0;
        text-align: left;
    }

    .page-title{
        font-size: 2.2rem;
    }

    .page-title-number{
        color: #a2a3a8;
        font-size: 2.4rem; 
        letter-spacing: 3px;
    }

    .titan-img{
        width: 25rem;
        height: 25rem;
        margin: 0 0 4rem 0;
    }

    .planet-menu{
        margin: 1rem 0 5rem 0;
    }

    .planet-menu a{
        font-size: 2.6rem;
    }

    .title-titan{
        font-size: 8rem;
    }

    .titan-text{
        width: 97%;
    }

    .titan-text p{
        font-size: 2.1rem;
        line-height: 4rem;
    }

    .horizontal-line{
        width: 80%;
        height: .3rem; 
        margin: 6rem 0 4rem 0;
    }

    .measurement-div{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .measure-row1,
    .measure-row2{
        width: 50%;
        height: 20px;
    }

    .title-km{
        margin: 2rem 0; 
    }

    .title-travel{
        text-transform: uppercase;
    }

    .travel-time{
        margin-top: 2rem;
    }

}

@media screen and (min-width: 992px){
    body{
        padding: 0;
        background-image: url("./images/destination/background-destination-desktop.jpg");
    }

    .line{
        width: 30%; 
        height: 1px; 
        margin-top: 7rem;  
        z-index: 999; 
        position: absolute;
        left: 15rem;
        background-color: rgb(89, 90, 95);
    }

    nav{
        width: 60%; 
        padding: 0 9rem;
        margin-top: 3rem;
    }

    .menu-numbers{
        display: inline-block;
    }

    .menu-link {
        padding: 3rem 0;
        font-size: 1.3rem;
        margin-right: 1.5rem;
    }

    /*contents*/
    .contents{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }

    .section1{
        width: 55%;
        height: auto;
        text-align: center;
        display: block;
    }

    .section2{
        width: 43%;
        display: block;
        text-align: left;
    }

    .page-title-div{
        width: 95%;
        margin: 6rem auto 6rem auto;
        text-align: center;
    }

    .titan-image-div{
        margin-top: 3rem;
    }

    .titan-img{
        width: 30rem;
        height: 30rem;
    }

    .planet-menu{
        margin-top: 7rem;
        margin-bottom: 4rem;
    }

    .planet-menu a{
        font-size: 1.3rem;  
    }

    .title-titan{
        font-size: 5.5rem;
    }

    .titan-text{
        width: 65%;
        text-align: left;
        margin: 0;
    }

    .titan-text p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .horizontal-line{
        width: 65%;
        margin: 5rem 0 2rem 0;
    }

    .measurement-div{
        width: 65%;
    }

    .measure-row1,
    .measure-row2{
        text-align: left;
    }

    .title-distance,
    .title-travel{
        font-size: 1.2rem;
    }

    .title-km,
    .travel-time{ 
        font-size: 1.8rem;
        margin-top: 1.5rem
    }
}

@media (max-height: 600px) and (max-width: 1024px){
    nav{
        padding: 0 2rem;
    }

    .line{
        width: 27%; 
    }
}
