
@media screen and (min-width: 992px){
    body{
        padding: 0;
        background-image: url("./images/home/background-home-desktop.jpg");
    }

    /*header*/
    header{
        width: 100%; /*changed*/
        height: 50px; /*changed*/
        display: flex; /*changed*/
        justify-content: space-between; /*changed*/
        align-items: center; /*changed*/
        padding-top: 2rem; /*changed*/
    }

    }
    .line{
        width: 45%; /*changed*/
        height: 1px; /*changed*/
        margin-top: 2rem; /*changed*/
        background-color: #a2a3a8; /*changed*/
        z-index: 1000; /*changed*/
        margin-right: -10rem; /*changed*/
    }

    /*nav*/
    .hamburger-open,
    .hamburger-close{
        display: none; /*changed*/
    }

    nav{
        width: 45%; /*changed*/
        height: 70px; /*changed*/
        display: flex; /*changed*/
        flex-direction: column; /*changed*/
        align-items: flex-end; /*changed*/
        justify-content: center; /*changed*/
        padding-top: 2rem; /*changed*/
    }
    .menu {
        width: 100%; /*changed*/
        height: auto; /*changed*/
        display: flex; /*changed*/
        justify-content: space-between; /*changed*/
        align-items: center;/*changed*/
        padding: 2rem 4rem 3.3rem 4rem; /*changed*/
    }

    .menu li a {
        display: block;/*changed*/
        padding: 2rem .5rem 2rem .5rem; /*changed*/
        margin-top: 1rem; /*changed*/
        background-color: rgba(60, 60, 61, .5); /*changed*/
    }
    
    .menu li a:hover {
        padding: 2rem .5rem 1.6rem .5rem; /*changed*/
        transition: none; /*changed*/
        border-bottom: 4px solid #ffffff;/*changed*/
        border-bottom-style: 2rem; /*changed*/
    }

    /*content-section*/
    .content-section{
        padding: 48px; /*change*/
        text-align: left;/*change*/
        display: flex; /*changed*/
        justify-content: space-between; /*changed*/
        align-items: center; /*changed*/
    }
    .about-space__container{
        width: 60%; /*changed*/
        height: 400px; /*changed*/
        padding: 0; /*change*/
    }

    .title-space{
        margin: 3rem 0; /*changed*/
    }

    .title-space h1{
        font-size: 15rem;  /*changed*/
    }
    
    .explore-text{
        width: 400px; /*changed*/
        line-height: 3rem; /*changed*/
        padding: 0; /*changed*/
    }

    .explore-text p{   
        font-size: 2rem; /*changed*/
    }

    .explore-link-div{ 
        width: 30%; /*changed*/
        height: 30rem; /*changed*/
        padding: .5rem; /*changed*/
        margin-top: 15rem; /*changed*/
        display: flex; /*changed*/
        flex-direction: column; /*changed*/
        align-items: center; /*changed*/
        justify-content: flex-end; /*changed*/
        /* align-self: flex-end; */
        /* position: relative; */
    }
    .explore-link-div a{
        font-size: 3rem; /*changed*/
        padding: 9rem 3.5rem; /*changed*/
        position: relative; /*changed*/
        top: 0; /*changed*/
        left: 0; /*changed*/
        transform: translate(0%, 0%); /*changed*/
    }
}