
@media screen and (min-width: 992px){
    body{
        padding: 0;
        background-image: url("./images/home/background-home-desktop.jpg");
    }

    /*header*/
    header{
        width: 100%; 
        height: 50px; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding-top: 2rem; 
    }

    
    .line{
        width: 45%; 
        height: 1px; 
        margin-top: 2rem; 
        background-color: #a2a3a8; 
        z-index: 1000; 
        margin-right: -10rem; 
    }

    /*nav*/
    .hamburger-open,
    .hamburger-close{
        display: none; 
    }

    nav{
        width: 45%; 
        height: 70px; 
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        justify-content: center; 
        padding-top: 2rem; 
    }
    .menu {
        width: 100%; 
        height: auto; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 2rem 4rem 3.3rem 4rem; 
    }

    .menu li a {
        display: block;
        padding: 2rem .5rem 2rem .5rem; 
        margin-top: 1rem; 
        background-color: rgba(60, 60, 61, .5); 
    }
    
    .menu li a:hover {
        padding: 2rem .5rem 1.6rem .5rem; 
        transition: none; 
        border-bottom: 4px solid #ffffff;
        border-bottom-style: 2rem; 
    }

    /*content-section*/
    .content-section{
        padding: 48px; 
        text-align: left;
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }
    .about-space__container{
        width: 60%; 
        height: 400px; 
        padding: 0; 
    }

    .title-space{
        margin: 3rem 0; 
    }

    .title-space h1{
        font-size: 15rem;  
    }
    
    .explore-text{
        width: 400px; 
        line-height: 3rem; 
        padding: 0; 
    }

    .explore-text p{   
        font-size: 2rem; 
    }

    .explore-link-div{ 
        width: 30%; 
        height: 30rem; 
        padding: .5rem; 
        margin-top: 15rem; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-end; 
        /* align-self: flex-end; */
        /* position: relative; */
    }
    .explore-link-div a{
        font-size: 3rem; 
        padding: 9rem 3.5rem; 
        position: relative; 
        top: 0; 
        left: 0; 
        transform: translate(0%, 0%); 
    }

}