*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%; 
}

body{
    box-sizing: border-box;
    background-image: url("./images/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* padding: 1rem; */
    font-family: 'Barlow', sans-serif;
    position: relative;
}

fonts{
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
}


/**********Header-items**********/
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    height: 4rem;
}

.hamburger-open,
.hamburger-close{
    width: 2.4rem;
    height: 2.1rem;
    background-size: 2.4rem 2.1rem;
    text-indent: -9999px;
}

.hamburger-open{
    background: url("./images/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    display: block;
} 

.hamburger-close{
    background: url("./images/shared/icon-close.svg");
    background-repeat: no-repeat;
    display: block; /*use javascript to toggle*/
    position: absolute;
    right: 0;
    margin: 2rem;
}

/* for harmburger-svg Hover */
.hamburger-open:hover,
.hamburger-close:hover{
    transition: all 0.3s linear;
    filter: brightness(0) invert(1);
}

.nav-toggle {
    transition: all .3s linear;
    cursor: pointer;
}

/********menu section********/
nav {
    width: 65%;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    background-color: rgba(51, 55, 70, .92);
    z-index: 1;
}

/* for JavaScript */
.show-nav{
    height: 100%;  
}

.menu {
    padding-left: 3rem;
    margin-top: 8rem;
}

.menu li{
    /* width: 90%; */
    margin-top: 2rem;
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.6rem;
    display: block;
    padding: 1rem .2rem; 
    letter-spacing: .3rem;
    position: relative;
}

.menu-link:hover {
    transition: all .3s ease-in; 
}

.menu-link:hover::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

/******Center-contents*******/
main{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contents{
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.about-space__container{
    padding: 1rem;
}

.title-intro h5{
    color: #d0d6f9;
    font-size: 3rem;
    margin-top: 5rem;
    line-height: 4.75px;
    font-family: 'Barlow Condensed', sans-serif;
}
.title-space h1{
    margin: 5rem 0;
    color: #ffffff;
    font-size: 10rem ;
    font-family: 'Barlow Condensed', sans-serif;
}

.explore-text{
    padding: 0 2.6rem;
}

.explore-text p{
    color: #d0d6f9;
    font-size: 2rem;
}

.explore-link-div{
    width: 95%;
    height: 25rem;
    padding: .5rem;
    position: relative;
}
.explore-link-div a{
    font-size: 2rem;
    margin-top: 1rem;
    color: #0b0d17;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6rem 2.5rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
} 

.explore-link-div a:hover{
    background-color: #d0d6f9;
    transition: all .3s linear;
}

@media screen and (max-width:375px){

    .main{
        width: 100%;
    }

    .title-intro h5{  
        line-height: 3rem; 
        margin-top: 2rem; 
        font-size: 2.8rem; 
        overflow-wrap: break-word; 
        text-align: left; 
    }

    .title-space h1{
        margin: 2rem 0; 
    }

    .explore-link-div{
        height: 15rem; 
    }

    .explore-link-div a{
        margin-top: 2.5rem; 
        padding: 6rem 2.5rem; 
    }
}

@media screen and (min-width: 768px){
    body{
        background-image: url("./images/home/background-home-tablet.jpg");
    }

    /*header*/
    header{
        width: 100%; 
        height: 5rem;
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .header-items{
        padding: 5rem 0 0 3rem;
    }

    /*nav*/
    .hamburger-open,
    .hamburger-close{
        display: none; 
    }

    .menu-numbers{
        display: none;
    }

    nav{
        width: 65%; 
        height: auto; 
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        justify-content: center; 
        padding: 0;
        transition: none;
        overflow: none;
        background-color: rgba(33, 36, 48, 0.92);
    }

    .menu {
        width: 100%; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 0 1.5rem 0 1.5rem;
        margin: 0;
    }

    .menu li{
        margin-top: 0;
    }

    .menu-link {
        padding: 4.5rem 0;
        line-height: 0;
        border-bottom: 4px solid transparent;
    }

    .menu-link:hover {
        transition: none; 
        border-bottom: 4px solid #ffffff;
    }

    .menu-link:hover::after{
        display: none;
    }

    /* center */
    .contents{
        padding: 4.8rem; 
        text-align: center;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
    }

    .title-intro{
        margin-top: 15rem;
    }

    .title-space{
        margin: 3rem 0; 
    }

    .title-space h1{
        font-size: 15rem;  
    }
    
    .explore-text{
        line-height: 3rem; 
        padding: 0; 
    }

    .explore-text p{   
        font-size: 3rem; 
        line-height: 5rem; 
    }

    .explore-link-div{ 
        margin-top: 5rem; 
    }

    .explore-link-div a{
        font-size: 3rem; 
        padding: 10rem 5rem; 
    }
}

@media screen and (min-width: 992px){
    /*Styles for HOME (Index.html)*/
    body{
        padding: 0;
        background-image: url("./images/home/background-home-desktop.jpg");
    }

    header{
        position: relative;
    }

    .header-items{
        width: 10%;
        padding: 5rem 0 0 3rem;
    }

    .line{
        width: 30%; 
        height: 1px; 
        margin-top: 7rem;  
        z-index: 999; 
        position: absolute;
        left: 15rem;
        background-color: rgb(89, 90, 95);
        /* margin-right: -10rem;  */
    }

    nav{
        width: 60%; 
        padding: 0 9rem;
        margin-top: 3rem;
    }

    .menu-numbers{
        display: inline-block;
    } 

    .menu-link {
        padding: 3rem 0;
        font-size: 1.3rem;
        margin-right: 1.5rem;
    }

    /*contents*/
    .contents{
        padding: 48px; 
        text-align: left;
        flex-direction: row;
    }

    .about-space__container{
        width: 60%; 
        height: auto; 
        padding: 0; 
    }

    .title-intro{
        margin-top: 22rem;
    }

    .title-space{
        margin: 1rem 0; 
    }

    .title-space h1{
        font-size: 11rem; 
        margin: .5rem 0; 
    }
   
    .explore-text{
        width: 380px; 
        padding: 0; 
    }

    .explore-text p{   
        font-size: 1.6rem; 
        line-height: 2.5rem;
    }

    .explore-link-div{ 
        width: 30%; 
        height: 30rem; 
        padding: .5rem; 
        margin-top: 12rem; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-end; 
    }
    .explore-link-div a{
        font-size: 3rem; 
        padding: 9rem 3.5rem; 
        position: relative; 
        top: 0; 
        left: 0; 
        transform: translate(0%, 0%); 
    }
}
