/* Globl - styles */
body{
    font-family: 'Roboto', sans-serif;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    height: 40px;
  }

  
.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }

   /* Links */
  .links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
  }

  .links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }

  /* for JavaScript */
  .show-links {
    height: 10rem;
  }

  /* specific screen size - styles */
  @media screen and (min-width: 800px) {
  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  
  .links {
    height: auto;
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}