*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%; 
}

body{
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.home-section{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

fonts{
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
}


/**********Header-items**********/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo{
    height: 4rem;
    z-index: 1;
}

.hamburger-open,
.hamburger-close{
    height: 2.3rem;
    z-index: 1;
    cursor: pointer;
}

.hamburger-close{
    position: absolute;
    right: 0;
    margin: 2rem;
}

/* for harmburger-svg Hover */
.hamburger-open:hover,
.hamburger-close:hover{
    transition: all 0.3s linear;
    filter: brightness(0) invert(1);
}

/********menu section********/
.main-page{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.nav {
    width: 65%;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    background-color: rgba(51, 55, 70, .92);
    z-index: 1;
}

/* for JavaScript */
.show-nav{
    height: 100%;  
}

/* Js end */

.menu {
    padding-left: 1.5rem;
    margin-top: 8rem;
}

.menu li{
    /* width: 90%; */
    margin-top: 2rem;
    list-style-type: none;
}

.menu-link { 
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.6rem;
    display: block;
    padding: 1rem .2rem; 
    letter-spacing: .3rem;
    cursor: pointer;
}

.menu-link:hover {
    transition: all .3s ease-in; 
}


.active-menu-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.menu-link:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3rem;
    left: 0;
    bottom: 0; 
    background-color: #ffffff;
}

/******home-contents*******/

.home-contents{
    padding: 1rem;
    margin-top: 5rem;
    text-align: center;
}

.title-intro h5{
    color: #d0d6f9;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 4.75px;
    font-family: 'Barlow Condensed', sans-serif;
}

.title-space h1{
    margin: 4rem 0;
    color: #ffffff;
    font-size: 8rem ;
    font-family: 'Barlow Condensed', sans-serif;
}

.explore-text{
    padding: 0 .2rem;
}

.explore-text p{
    color: #d0d6f9;
    font-size: 1.4rem;
    line-height: 1.6;
}

.explore-link-div{
    width: 95%;
    height: 18rem;
    padding: .5rem;
    position: relative;
}
.explore-link-div a{
    font-size: 2rem;
    margin-top: 1rem;
    color: #0b0d17;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6rem 3rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
} 

.explore-link-div a:hover{
    background-color: #d0d6f9;
    transition: all .3s linear;
}

/************DESTINATION-SECTION***********/
.destination-section{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0;
    font-family: 'Barlow', sans-serif;
    background-image: url("./images/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dest-page-title{
    color: #ffffff;
    font-size: 1rem; 
    letter-spacing: 3px;
    line-height: 4.75px;
    overflow-wrap: break-word; 
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.dest-page-title_number{
    color: #a2a3a8;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

.dest-image_container{
    padding: 1.5rem;
}

.planet-image{
    width: 16rem;
    height: 16rem;
    margin: 2rem 0 1rem 0;
}

.dest-header-section{
    margin-top: 8rem;
    text-align: center;
}

.planet-menu-container > a:not(:last-child){
    margin: 0 2rem 0 0;
}

.planet-menu{
    color: #a2a3a8;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .7rem 0;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.planet-menu:hover {
    color: #ffffff;
}

.planet-menu:hover::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.dest-planet-title{
    font-size: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.destination-contents,
.dest-image_container{
    display: grid;
    place-items: center;
}

.dest-article-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.dest-planet-text{
    color: #a2a3a8;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.dest-horizontal-line{
    width: 100%; 
    height: .28rem; 
    margin: 2.3rem 0; 
    background-color: rgb(162, 163, 168, .1);
    border-radius: 30%; 
}

.dest-distance_container,
.dest-time_container{
    text-align: center;
}

.dest-title-distance{
    letter-spacing: 2px;
    font-size: 1.1rem;
    color: #a2a3a8;
    font-weight: 200;
    text-transform: uppercase;
}

.dest-km{
    font-weight: 200;
    margin: 1.5rem 0; 
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.dest-travel-time{
    font-weight: 200;
    font-size: 1.1rem;
    letter-spacing: 2px; 
    color: #a2a3a8;
    text-transform: uppercase;
}

.dest-travel-duration{
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1.5rem; 
    color: #ffffff; 
    text-transform: uppercase;
}

/* For JavaScript */

/* planet menu */
.active-planet-menu::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.planet-content{
    display: none;
}

.active-planet-content{
    display: block;
} 

/* for main contents */
.page{
    display: none;
}

.active-page{
    display: block;
}

/* Js end */

/************CREW-SECTION***********/
.crew-section{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.crew-page-header{
    width: 95%;
    margin: 2rem auto 1rem auto; 
    text-align: center;
}

.crew-page-title{
    color: #ffffff;
    font-size: 1.3rem; 
    letter-spacing: 3px;
    line-height: 2rem; /*to help breakword*/
    overflow-wrap: break-word; 
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 7rem;
}

.crew-page-title_number{
    color: #a2a3a8;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

/* Image-slider */
.crew-image_container{
    margin-top: 3rem;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgb(162, 163, 168, 0.5);
}

.crew-img{
    width: 22rem;
    height: 25rem;  
}

.crew-btns_container{
    width: 80%;
    margin: 3rem auto 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.crew-btn{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    user-select: none;
    background-color: #a2a3a8;
    cursor: pointer;
}

.crew-btn:hover{
    background-color: #ffffff;
}

.crew-text_container{
    text-align: center;
    padding: 2rem;
}

.crew-title{
    color: #a2a3a8;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.crew-name{
    font-size: 2.3rem;
    color: #ffffff;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
}

.crew-text{
    color: #bdc2db;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.active-crew{
    background-color: #ffffff;
}

/************TECHNOLOGY-SECTION***********/
.technology-section{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 6rem 0 1rem 0;
    background-image: url("./images/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-page-title_container{
    width: 95%;
    margin: 3rem auto 0rem auto; 
    text-align: center;
}

.tech-page-title{
    color: #ffffff;
    font-size: 1.5rem; 
    letter-spacing: 3px;
    line-height: 2rem; 
    overflow-wrap: break-word; 
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.tech-page-title_number{
    color: #a2a3a8;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

/* Image-slider */

.technology-image_container{
    width: 100%;
    height: 28rem;
    margin-top: 3rem;
    background-image: url('images/technology/image-launch-vehicle-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tech-btns_container{
    width: 80%;
    margin: 3rem auto 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.tech-btn{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #ffffff;
    outline: none;
    user-select: none;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(162, 163, 168, 0.5);
    cursor: pointer;
}

.tech-btn:hover{
    color: #000000;
    background-color: #ffffff;
}

.technology-text_container{
    text-align: center;
    padding: 2rem 2.5rem 0 2.5rem;
}

.technology-title{
    color: #a2a3a8;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.technology-name{
    font-size: 2.3rem;
    color: #ffffff;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
}

.technology-text{
    color: #bdc2db;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.active-technology{
    color: #000000;
    background-color: #ffffff;
}

@media screen and (min-width: 390px){
    .menu-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.6rem;
    }
    
    .title-intro h5{
        font-size: 3rem;
        margin-top: 5rem;
    }

    .title-space h1{
        font-size: 11rem;
        margin: 5rem 0;
    }

    .explore-text{
        padding: 0 .6rem;
    }
    
    .explore-text p{
        font-size: 2rem;
    }

    .explore-link-div{
        width: 95%;
        height: 25rem;
    }

    /************DESTINATION-SECTION***********/
    .dest-page-title_number,
    .dest-page-title{
        font-size: 1.3rem;
    }

    .planet-image{
        width: 20rem;
        height: 20rem;
        margin: 3rem 0 0 0;
    }
    
    .planet-menu-container{   
        margin: 1rem 0 4rem 0;
    }
    
    .planet-menu-container{   
        margin: 1rem 0 2.5rem 0;
    }

    .planet-menu{
        font-size: 1.5rem;
    }

    .dest-planet-title{
        font-size: 5rem;
    }

    .dest-planet-text{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .dest-title-distance{
        font-size: 1.5rem;
    }

    .dest-km{
        margin: 2.3rem 0; 
        font-size: 3rem;
    }

    .dest-travel-time{
        font-size: 1.5rem;
    }

    .dest-travel-duration{
        font-size: 3rem;
        margin-top: 3rem;
    }

    /************CREW-SECTION***********/
    .crew-img{
        width: 25rem;
        height: 35rem;
    }

    .crew-title{
        margin-top: 2.5rem;
    }

    /************TECHNOLOGY-SECTION***********/

    .tech-image{
        height: 33rem;
    }

    .technology-title{
        margin-top: 2.5rem;
    }

    .technology-image_container{
        height: 33rem;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 768px){
    .home-section{
        background-image: url("./images/home/background-home-tablet.jpg");
    }

    /*header*/
    .header{
        width: 100%; 
        height: 5rem;
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .logo-container{
        padding: 5rem 0 0 3rem;
    }

    /*nav*/
    .hamburger-open,
    .hamburger-close{
        display: none; 
    }

    .menu-numbers{
        display: none;
    }

    .nav{
        width: 60%; 
        height: auto; 
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        justify-content: center; 
        padding: 0;
        transition: none;
        overflow: hidden;
        background-color: rgba(33, 36, 48, 0.92);
    }

    .menu {
        width: 100%; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 0 1.5rem 0 1.5rem;
        margin: 0;
    }

    .menu li{
        margin-top: 0;
    }

    .menu-link {
        font-size: 1.2rem;
        padding: 3.5rem 0;
        line-height: 0;
    }

    .menu-link:hover {
        transition: none; 
    }

    /***********Home*************/
    .home-contents{
        padding: 4.8rem; 
        text-align: center;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin-top: 4rem;
    }

    .title-intro{
        margin-top: 8rem;
    }

    .title-space h1{
        margin: 2rem 0 3rem 0;
        font-size: 15rem;  
    }
    
    .explore-text{
        line-height: 3rem; 
        padding: 0; 
    }

    .explore-text p{   
        font-size: 3rem; 
        line-height: 5rem; 
    }

    .explore-link-div{ 
        margin-top: 2rem; 
    }

    .explore-link-div a{
        font-size: 3rem; 
        padding: 10rem 5rem; 
    }

    /************DESTINATION-SECTION***********/
    .destination-section{
        /* padding-top: 8rem; */
        background-image: url("./images/destination/background-destination-tablet.jpg");
    }

    .dest-page-title{
        margin-top: 14rem;
        font-size: 2rem;
        text-align: left;
        padding-left: 3rem;
    }

    .dest-page-title_number{
        color: #a2a3a8;
        font-size: 2.4rem; 
        letter-spacing: 3px;
    }

    .planet-image{
        width: 25rem;
        height: 25rem;
        margin: 0;
    }

    .dest-image_container{
        margin: 4rem 0 3rem 0;
    }

    .planet-menu-container{
        margin: 1rem 0 5rem 0;
    }

    .planet-menu{
        font-size: 2.6rem;
    }

    .dest-planet-title{
        font-size: 8rem;
        margin-top: 5rem;
    }

    .dest-article-container{
        width: 97%;
        display: grid;
        place-items: center;
    }

    .dest-planet-text{
        font-size: 2.1rem;
        line-height: 4rem;
    }

    .dest-horizontal-line{
        width: 80%;
        height: .3rem; 
        margin: 3rem 0 4rem 0;
    }

    .dest-measurement_contianer{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dest-distance_container,
    .dest-time_container{
        width: 50%;
        height: 20px;
    }

    .dest-km{
        margin: 2rem 0; 
    }

    .dest-travel-time{
        text-transform: uppercase;
    }

    .dest-travel-duration{
        margin-top: 2rem;
    }

    /************CREW-SECTION***********/
    .crew-section{
        background-image: url("./images/crew/background-crew-tablet.jpg");
    }

    .crew-page-header{
        text-align: left;
        margin-top: 3rem;
    }

    .crew-page-title{
        margin-top: 12rem;
    }
        
    .crew-page-title_number{
        font-size: 2rem; 
    }

    .crew-page-title{
        font-size: 2rem;
        font-weight: 600; 
    }

    /* .crew-slider_container, */
    .crew-contents{
        display: flex;
        flex-direction: column-reverse;
    }

    .crew-image_container{
        height: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    .crew-img{
        width: 45rem;
        height: 45rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .crew-title{
        margin-top: 3rem;
        font-size: 3rem;
    }

    .crew-name{
        font-size: 4rem;
    }

    .crew-text{
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .crew-btns_container{
        margin-top: 1rem;
    }

    /************TECHNOLOGY-SECTION***********/
    .technology-section{
        background-image: url("./images/technology/background-technology-tablet.jpg");
    }

    .tech-page-title_container{
        text-align: left;
        margin-top: 3rem;
    }
        
    .tech-page-title_number{
        font-size: 2rem; 
    }

    .tech-page-title{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 7rem; 
    }

    .technology-image_container{
        height: 40rem;
        margin-top: 5rem;
    }

    .tech-btn{
        width: 4.5rem;
        height: 4.5rem;
        margin-top: .5rem;
    }

    .technology-title{
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    .technology-name{
        font-size: 4rem;
    }

    .technology-text_container{
        padding-top: 0;
    }

    .technology-text{
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 992px){
    /*Styles for HOME (Index.html)*/
    .home-section{
        padding: 0;
        background-image: url("./images/home/background-home-desktop.jpg");
    }

    .header{
        position: relative;
    }

    .logo-container{
        width: 7%;
        padding: 3.5rem 0 0 3rem;
    }

    .line{
        width: 33%; 
        height: 1px; 
        z-index: 999; 
        position: absolute;
        top: 6rem;
        left: 12rem;
        background-color: rgb(89, 90, 95);
    }

    .nav{
        padding: 0 5rem; 
        margin-top: 3rem;
    }

    .menu-numbers{
        display: inline-block;
    } 

    .menu{
        min-width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .menu-link {
        padding: 3rem 0;
        font-size: 1.3rem;
        margin-right: 0;
    }

    .home-page-contents, 
    .dest-page-contents,
    .crew-page-contents,
    .tech-page-contents{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .dest-article-container{
        margin-top: -8rem;
    }

    /*contents*/
    .home-contents{
        width: 100%;
        padding: 0 15rem 0 15rem; 
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .title-intro{
        margin-top: 18rem;
    }

    .about-space__container{
        width: 60%; 
        height: auto; 
        padding: 0; 
    } 

    .title-space{
        margin: 1rem 0; 
    }

    .title-space h1{
        font-size: 11rem; 
        margin: .5rem 0; 
    }
   
    .explore-text{
        width: 380px; 
        padding: 0; 
    }

    .explore-text p{   
        font-size: 1.6rem; 
        line-height: 2.5rem;
    }

    .explore-link-div{ 
        width: 30%; 
        height: 30rem; 
        padding: .5rem; 
        margin-top: 12rem; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-end; 
    }
    .explore-link-div a{
        font-size: 3rem; 
        padding: 9rem 3.5rem; 
        position: relative; 
        top: 0; 
        left: 0; 
        transform: translate(0%, 0%); 
    }

    /************DESTINATION-SECTION***********/
    .destination-section{
        padding: 0 20rem 0 15rem; 
        background-image: url("./images/destination/background-destination-desktop.jpg");
    }

    .destination-contents{
        margin-top: 3rem;
    }

    .dest-header-section{
        margin-top: 0;
        text-align: left;
        margin-left: -80rem;
    }

    .dest-page-title{
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    .planet-menu-container{
        width: 44.5%;
        text-align: right;
        margin: 0;
        padding-right: 0;
        display: flex;
        align-content: flex-end;
    }

    .planet-menu{
        font-size: 1.3rem;  
    }

    /* For JavaScript */
    .active-planet-content{
        margin-top: 0;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }
    /* Js end */

    .dest-image_container{
        width: 50%;
        margin-top: 3rem;
        padding: 1rem;
    }

    .planet-image{
        width: 27rem;
        height: 27rem;
    }

    .destination-contents,
    .dest-image_container{
        display: block;
    }

    .dest-article-container{
        width: 40%;
        text-align: left;
        margin: 0;
        /* padding: 3rem 1rem 1rem 0; */
        padding: 0;
        display: block;
    }

    .dest-planet-title{
        font-size: 5.5rem;
        margin-top: 2rem;
    }

    .dest-planet-text{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .dest-horizontal-line{
        width: 100%;
        margin: 5rem 0 2rem 0;
    }

    .dest-measurement_contianer{
        width: 100%;
    }

    .dest-distance_container,
    .dest-time_container{
        text-align: left;
    }

    .dest-title-distance,
    .dest-travel-time{
        font-size: 1.2rem;
    }

    .dest-km,
    .dest-travel-duration{ 
        font-size: 1.8rem;
        margin-top: 1.5rem
    }

    /************CREW-SECTION***********/
    .crew-section{
        background-image: url("./images/crew/background-crew-desktop.jpg");
        padding: 0 0 0 15rem; /*changed 0 2 0 15 rems*/
    }

    .crew-page-header{
        margin-top: 0; 
    }

    .crew-page-title{
        margin: 10rem 0 0 -1rem;
    } 

    .crew-slider_container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 2rem;
    }

    .crew-contents{
        flex-basis: 60%;
    }

    .crew-image_container{
        flex-basis: 30%;
    }
    
    .crew-img{
        width: 40rem;
        height: 47rem;
        left: 80%;
        bottom: 0;
    }

    .crew-btns_container{
        width: 100%;
        margin: 3rem 0 0 0;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .crew-text_container{
        text-align: left;
    }

    .crew-title{
        margin-top: 5rem; 
    }

    .crew-name{
        margin: 1.5rem 0 2.5rem 0;
    }

    .crew-text{
        width: 80%;
        text-align: left;
        margin: 0;
    }

    /************TECHNOLOGY SECTION***********/
    .technology-section{
        background-image: url("./images/technology/background-technology-desktop.jpg");
    }

    .tech-page-title_container{
        margin-top: 13rem;
    }

    .tech-page-title_number,
    .tech-page-title{
        font-size: 2.5rem;
    }

    .technology-section{
        padding: 0 .2rem 0 7rem;
    }

    .technology-slider_container{
        height: auto;
        display: flex;
        gap: 2rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .technology-contents{
        display: flex;
        flex-basis: 65%;
        align-items: center;
        justify-content: center;
    }

    .technology-image_container{
        flex-basis: 30%;
        height: 35rem;
        margin-top: 0;
        background-image: url("images/technology/image-launch-vehicle-portrait.jpg");
    }

    .tech-image{
        height: 100%;
    }

    .tech-btns_container{
        width: 50%;
        margin-top: 0; 
        flex-direction: column;
        justify-content: flex-start;
    }

    .technology-text_container{
        text-align: left;
    }

    .technology-name{
        font-size: 6rem;
        margin: 0;
    }

    .technology-text{
        width: 90%;
        text-align: left;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) and (max-height:600px){

    .destination-section{
        padding: 0 15rem 0 10rem;
    }

    .dest-header-section{
        margin-left: -50rem;
    }
}

@media only screen and (min-width: 1400px){

    /* GLOBAL HEADER STYLES */
    .nav{
        width: 50%;
    }

    .line{
        width: 44%; 
        left: 15rem;
    }

    .menu-link{
        font-size: 2rem;
    }

    /* HOME SECTION */
    
    .home-contents{
        padding-left: 20rem;
    }

    .title-space h1{
        font-size: 15rem;
        margin: 5rem 0;
    }

    .title-intro h5{
        font-size: 5rem;
    }

    .explore-text{
        width: 60rem;
    }

    .explore-text p{
        font-size: 3rem;
        line-height: 5rem;
    }

    .explore-link-div{  
        padding-right: 15rem;
        margin-top: 30rem; 
    }

    .explore-link-div a{
        font-size: 4.5rem; 
        padding: 12rem 4rem;  
    }

    /* DESTINATION SECTION */

    .dest-header-section{
        margin-left: -100rem;
    }

    .dest-page-title,
    .dest-page-title_number{
        font-size: 3rem;
        letter-spacing: 1rem;
        margin-top: 20rem;
    }

    .active-planet-content{
        margin: 0;
        padding: 0;
    }

    .dest-image_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .planet-image{
        width: 52%;
        height: 42rem; 
        margin-top: 4rem; 
    }
        
    .planet-menu{
        font-size: 2rem;
    }
    
    .dest-planet-title{
        font-size: 7rem;
        margin-top: 8rem;
    }

    .dest-article-container{
        width: 34%;
        text-align: left;
        margin: 0;
    }

    .dest-planet-text{
        font-size: 2.5rem;
        line-height: 4.5rem;
    }

    .dest-title-distance,
    .dest-travel-time{
        font-size: 2rem;
    }

    .dest-km,
    .dest-travel-duration{
        font-size: 1.82rem;
    }

    /* CREW SECTION */

    .crew-page-header{
        margin: 0 0 7rem -5rem;
    }

    .crew-page-title_number,
    .crew-page-title,
    .tech-page-title_number,
    .tech-page-title{
        font-size: 3rem;
        letter-spacing: 1rem;
    }

    .crew-text,
    .technology-text{
        width: 60%;
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .crew-btn{
        width: 2rem;
        height: 2rem
    }

    .crew-img{
        width: 70rem;
        height: 75%;
        left: 75%;
    }

    /* TECHNOLOGY SECTION */
    .tech-page-title{
        margin-left: 2.5rem;
    }

    .tech-btns_container{
        gap: 6rem;
    }

    .tech-btn{
        font-size: 2rem;
        width: 7rem;
        height: 7rem;
    }

    .technology-name{
        font-size: 6.5rem;
        margin: 3rem 0;
    }

    .technology-image_container{
        height: 65rem;
    }

}